VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_API_URL=http://localhost:5000/api/v1
VITE_DEMO_USER_EMAIL=citizen@ewaste.gov.in
VITE_DEMO_USER_PASSWORD=Citizen@2026!
VITE_DEMO_AGGREGATOR_EMAIL=aggregator@ewaste.gov.in
VITE_DEMO_AGGREGATOR_PASSWORD=Aggregator@2026!
VITE_DEMO_COLLECTOR_EMAIL=collector@ewaste.gov.in
VITE_DEMO_COLLECTOR_PASSWORD=Collector@2026!
VITE_DEMO_RECYCLER_EMAIL=recycler@ewaste.gov.in
VITE_DEMO_RECYCLER_PASSWORD=Recycler@2026!
VITE_DEMO_ADMIN_EMAIL=admin@ewaste.gov.in
VITE_DEMO_ADMIN_PASSWORD=Admin@2026!
